<settings>
<category label="Configurar conexión">
     <setting id="host" type="text" label="Host" default="http://158.69.127.19" visible="false"/>
     <setting id="usuario" type="text" label="[COLOR red]Usuario[/COLOR]" default=""/>
     <setting id="password" type="text" label="[COLOR red]Contraseña[/COLOR]" default=""/>
     <setting id="puerto" type="text" label="Puerto" default="8000" visible="false"/>
</category>
<category label="Otras configuraciones">
	 <setting id="advconf" type="bool" label="¿Activar - Advanced settings?"value="false"/>
	 <setting id="crtparent" type="bool" label="¿Activar - Bloqueo parental?"value="true"/>
	 <setting id="keyparent" type="text" option="hidden" label="Codigo de bloqueo" default="1234"/>
</category>
</settings>